################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LatokenMauiClient/.vs
/LatokenMauiClient/bin
/LatokenMauiClient/obj
/*.txt
